body.runner {
  margin:0;
  padding:0;
}
div.max-viewport {
  border-width: 0px;
  height:100vh;
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
}

div.hidden {
  display: none;
}
h1.large {
  letter-spacing: 5px;
  font-size: 25vw;
  text-transform: uppercase;
}
p.archers_per_lane {
  letter-spacing: 20px;
  font-size: 10vw;
  margin:0;
  padding:0;
  text-transform: uppercase;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin:0;
    padding:0;
    display:flex;
    align-items: bottom;
    justify-content: center;
}
div.top_right {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
}
div.bottom_right {
  position: fixed;
  bottom: 0;
  right: 0;
}
.inverted {
	filter: invert(100%);
}

.tooltip {
    position: relative;
    display: inline-block;
}


/* tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 900px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  top: -5px;
  left: 125%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* input */
input {
  min-width: 150px
}
